body {color: black;
}

.outer-div{
    background-image: linear-gradient(to right,rgb(0, 119, 255),rgb(41, 0, 70));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
} 

.logo{
    height: 50px;
}

.text{

    text-align: center;
    padding:15px 0px 10px 0px ;

}



.login-div{
    padding: 8px 12px;
    float: left;
}

.signup-div{
    padding: 8px 12px;
    float: right;
}
