body {color: black; 
    margin: 0px;
}

.outer-div{
    background-image: linear-gradient(to right,rgb(0, 119, 255),rgb(41, 0, 70));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
} 

.logo{
    height: 50px;
}

.text{

    text-align: center;
    padding:15px 0px 10px 0px ;

}



.login-div{
    padding: 8px 12px;
    float: left;
}

.signup-div{
    padding: 8px 12px;
    float: right;
}



.i-div {
    background-color: aqua;
    width: 75vh;
    height: 85vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
  }

  .card{
    border-radius: 6px; 
    background-color: rgb(6, 84, 185);
     padding: 10px 10px 10px 10px;
  }

  .buton{
    width: 25vh;
     margin-left: 85px;
  }