:root {
  --color-1: #161616;
  --color-2: #1a232f;
  --color-3: #212c3b;
  --color-4: #0066FF;
  --color-5: #151921;
  --color-6: #2EA58C;
  --color-7: #4B0795;
  --text-color: white;
}


/* @keyframes lightReflection {
  0% {
    background-position: 0% 75%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.glass-shine {
  width: 100%;
  height: 100px;
  background: linear-gradient(90deg, rgba(15, 12, 12, 0.3), rgba(54, 10, 10, 0.7), rgba(255, 255, 255, 0.3));
  background-size: 200% 200%;
  animation: lightReflection 1s linear;
} */


.Main-box{
  border-radius: 10px;
  padding: 4px;
  width: 50vw;
  margin: 0 auto;
  margin-top: 4vh;
  margin-bottom: 7vh;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 21px 30px,
    rgba(0, 0, 0, 0.15) 0px 18px 14px;
  
  font-family: 'Georgia', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  
}

.descriptions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}


.image{
  margin: 0 auto;
  margin-top: 1vh;
  width:15vw;
  
}

#img-bx {
  
  border-radius: 12px;
  width: 100%;
  height:auto;
  object-fit: cover;
  cursor: pointer;
}

.desc-box{
  line-height: 170%;
  min-height: 90%;
  width:30vw;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}


.fotter{
  display: flex;
  flex-direction: row;
  /* background-color: #0547cc; */
  width: 95%;
  padding: 5px 0px 10px 0px;
  justify-content: space-between;
  font-size: large;
  font-weight: 600;

}

.stats{
  width: 34%;
  display: flex;
  justify-content: space-between;
}


.demo-schedule{

    border-radius: 10px;
    padding: 10px 0px 20px 0px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px,
      rgba(0, 0, 0, 0.24) 0px 10px 14px;
    background-color: #d3dff6;
    font-family: 'Georgia', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    width: 30vw;
  }

  .inner-schedule{
    padding-top: 20px;
    :hover{
      background-color: #b9dae389;

      color: rgb(0, 0, 0);
    }
  }

.course-message{
  margin-top: 2vh;
  box-sizing: border-box;
  margin-bottom: 5vh;
  font-size: 1.2rem;
  background-color:  #d3dff6;
  border-radius: 10px;
  padding: 2px 15px 2px 15px;
  text-align: center;
}

.buttons{
  

  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  color: var(--text-color);
  :hover{
      
      background-color: #e7e7e7;
      
  }
  

}




body, html {
  margin: 0;
  padding: 0;
}




