{% extends 'base.html' %}
{% block title %} Authentication{% endblock title %}
{% block content %}

    
    <div class="outer-div">
        <div>
            <img class="logo" src="{{url_for('static',filename = 'Images/journal.png')}}" >
        </div>
        <div class="text">

                <h6>Welcome to Kanban Creator</h6>
                <h6>Log in with your Kanban account to continue</h6>

        </div>
        <div>
            <div class = login-div>
                <a href="/auth/login" class="btn btn-primary" role="button" >Login</a>
            </div>
            <div class = signup-div>
                <a href="/auth/signup" class="btn btn-primary" role="button" >Sign Up</a>
            </div>
        </div>

    </div>


{% endblock content %}
