{% extends 'base.html' %}
{% block title %} Sign Up Page {% endblock title %}
{% block content %}

<div class="outer-div">
    <div class="i-div">
        <div class = "card"><h2>CREATE AN ACCOUNT</h2></div>
            <form  method = "POST" style="width: 50vh;">
                <div class="mb-3" >
                    <label for="name" class="form-label">Name</label>
                    <input type="name" class="form-control" id="name" placeholder = "Enter Your Name">
                </div>
                <div class="mb-3" >
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder = "Enter Email Address">
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password1" placeholder = "Enter Password">
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="password1" placeholder = "Re-enter Password">
                </div>
                <br>
                <button type="submit" class="btn btn-primary buton">Submit</button>
            </form>

        <div>Already have an account? <a href="/auth/login" class="btn btn-primary"  role="button" >Login here</a></div>
    </div>
</div>

{% endblock content  %} 