{% extends 'base.html' %}
{% block title %} Sign Up Page {% endblock title %}
{% block content %}

<div class="outer-div">
    <div class="i-div">
        <div class = "card"><h2>CREATE AN ACCOUNT</h2></div>
            <form style="width: 50vh;">
                <div class="mb-3" >
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder = "Enter Email Address">
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">Password</label>
                    <input type="password1" class="form-control" id="password1" placeholder = "Enter Password">
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">Confirm Password</label>
                    <input type="password1" class="form-control" id="password1" placeholder = "Re-enter Password">
                </div>
                <br>
                <button type="submit" class="btn btn-primary buton">Submit</button>
            </form>

        <div>Already have an account? <a href="/auth/login" class="btn btn-primary" role="button" >Login here</a></div>
    </div>
</div>

{% endblock content  %} 



<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
